html {
  background-color: #101010;
  background-color: wheat;
  font-family: Consolas;
  color: #611b1b;
}
#pageTitle, a, nav {
  text-align: center;
  color: #611b1b;
}


#canvii, #primaryOptionSelector, #controlPanel {
  text-align: center;
}

/* #originalImageCanvas, #editingImageCanvas { */
.imageCanvas {
  z-index: 0;
  position: relative;
  width: 200px;
  border: 1px dashed #611b1b;
}
/* #originalImageCanvas { */
  /* display: none; */
/* } */
#canviiEssentials {
  text-align: center;
}
#canviiStagingButtons {
  color: #611b1b;
}
#loadGif {
  display: none;
  padding-left: 49.5%;
}

select {
  background: wheat;
  border-radius: 25px;
  border: 1px dashed #611b1b;
  text-align: center;
  color: #611b1b;
}
.button, [type='button'], button {
  border-radius: 25px;
  border: none;
  text-align: center;
  background: none;
  color: #611b1b;
  position: relative;
  font-size: 20px;
}
select:hover {
  font-style: oblique;
}
a:hover {
  font-style: oblique;
}
label:hover {
  font-style: oblique;
}
button:hover {
  font-style: oblique;
}
[type='button']:hover {
  font-style: oblique;
}

.slider {
  height: 10px;
  border-radius: 5px;
  border: 1px dashed #611b1b;
  background: wheat;
  color: #611b1b;
  z-index: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%; 
  cursor: pointer;
  border: none;
}
.slider::-moz-range-thumb {
  border-radius: 50%;
  background: #611b1b;
  cursor: pointer;
  border: none;
}

